/* Общие стили */
:root {
  --mein-font: "TT Norms", sans-serif;
  --color-accent: #e52322;
  --color-lightgray: #b0b6bf;
  --color-mein: #1f2c37;
  --color-wiht: #ffffff;
  --bg-color-section: #f2f4f7;
}

body {
  font-family: var(--mein-font);
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  color: var(--color-mein);
  background: #ffffff;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  margin-bottom: 20px;

  font-size: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: var(--color-lightgray);
}

.section-description {
  font-weight: 500;
  font-size: 37px;
  line-height: 1.2;
}

.accent-color {
  color: var(--color-accent);
}

/* Стилизация ссылки  - Все работы */
.link-open {
  margin-top: 80px;

  font-weight: 500;
}

.link-open:hover,
.link-open:focus {
  color: var(--color-accent);
}

.link-open .link-open-element::before {
  content: "";
  display: inline-block;

  width: 100%;
  height: 1px;
  background-color: var(--color-mein);
}

.link-open:hover .link-open-element::before,
.link-open:focus .link-open-element::before {
  background-color: var(--color-accent);
}

/* Стилизация  квадратной кнопки - Все работы */
.button {
  padding: 22px 44px;
  border: 1px solid var(--color-accent);

  background-color: transparent;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover,
.button:hover {
  background-color: var(--color-accent);
  color: var(--color-wiht);
}

/* Утилиты */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
  margin-bottom: 0;
}

/* Шапка страницы */
.header .container {
  display: flex;
  justify-content: space-between;
}

.header-list {
  display: flex;
  justify-content: space-between;
}

.header-item:not(:last-child) {
  margin-right: 120px;
}

.header-item:nth-child(1) button {
  font-size: 16px;
  text-transform: capitalize;
}

.header-item:nth-child(2) {
  font-size: 15px;
}

.header-item:nth-child(3) button {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
}

.header-item button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.header-item button,
.header a {
  padding: 42px 0 42px 0;
}

.header-list button:hover,
.header-list button:focus {
  color: var(--color-accent);
}

.header-list a:hover,
.header-list a:focus {
  color: var(--color-accent);
}

/* Секция герой */
.hero {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--color-lightgray);
  padding-bottom: 70px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.hero-slogan {
  color: var(--color-wiht);
  font-weight: 500;
  font-size: 45px;
  line-height: 1.2;
}

.hero-list {
  display: flex;
  color: var(--color-wiht);
}

.hero-item:not(:last-child) {
  margin-right: 50px;
}

.hero-item {
  padding: 10px 0;
  font-size: 14px;
  font-feature-settings: "liga" off;
}

.hero-item:hover,
.hero-item:hover {
  color: var(--color-accent);
}

/* Услуги */
.services {
  padding-top: 200px;
  padding-bottom: 200px;
}

.services .section-description {
  margin-bottom: 100px;
}

.services-text {
  font-size: 19px;
  line-height: 1.3;
}

.services-items {
  display: flex;
  flex-wrap: wrap;
  margin-left: -60px;
  margin-top: -60px;
}

.services-item {
  flex-basis: calc(100% / 4-60px);
  margin-left: 60px;
  margin-top: 60px;
}

/* Наши приемущества */
.advantages {
  padding: 150px 0;
  background-color: var(--bg-color-section);
}

.wrap-advantages {
  display: flex;
  flex-wrap: wrap;

  justify-content: flex-start;
  align-items: flex-start;
}

.wrap-advantages-text,
.advantages-items {
  flex-basis: calc((100% - 60px) / 2);
}

.wrap-advantages-text {
  margin-right: 60px;
}

.advantages-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  margin-left: -60px;
  margin-top: -60px;
}

.advantages-item {
  flex-basis: calc((100% - 60px) / 4);

  margin-top: 60px;
  margin-left: 60px;
}

.advantages-item:nth-child(4n + 1),
.advantages-item:nth-child(4n + 2) {
  margin-bottom: 11px;
}

.advantages-accent {
  display: block;
  font-size: 75px;
  color: var(--color-accent);
}

.advantages-accent::after {
  content: "";
  display: block;

  margin-top: 17px;
  margin-bottom: 20px;

  width: 70px;
  height: 1px;
  background-color: var(--color-lightgray);
}

/* Наши работы */
.works {
  padding: 200px 0;
}

.works .section-description {
  margin-bottom: 60px;
}

.works-items {
  display: flex;
  flex-wrap: wrap;

  margin-top: -60px;
  margin-left: -60px;
}

.works-item {
  flex-basis: calc(100% / 2-60px);

  margin-top: 60px;
  margin-left: 60px;
}

.works-title {
  margin-top: 20px;

  font-weight: 500;
  font-size: 20px;
}

.works-text {
  margin-top: 15px;

  font-size: 11px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--color-lightgray);
}

/* Наши партнёры */
.partners {
  padding-top: 177px;
  padding-bottom: 167px;

  background-color: var(--bg-color-section);
}

.wrap-partners {
  display: flex;
  flex-wrap: wrap;

  justify-content: flex-start;
  align-items: flex-start;
}

.wrap-partners-text,
.partners-items {
  flex-basis: calc(100% / 2);
}

.partners-items {
  display: flex;
  flex-wrap: wrap;

  margin-top: -55px;
  margin-left: -55px;
}

.partners-item {
  flex-basis: calc((100% - 55px) / 6);

  margin-top: 55px;
  margin-left: 55px;
}

/* Статьи и новости */
.news {
  padding: 200px 0;
}

.news .section-description {
  margin-bottom: 98px;
}

.news-item {
  display: flex;
  flex-wrap: wrap;
}

.news-item:not(:last-child) {
  margin-bottom: 60px;
}

.wrap-news,
.wrap-news-text {
  flex-basis: calc(100% / 2 - 30px);
}

.wrap-news {
  display: flex;
  margin-right: 60px;
  justify-content: space-between;
}

.wrap-news p {
  font-size: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: var(--color-lightgray);
}

.wrap-news-text time {
  font-size: 14px;

  color: var(--color-lightgray);
}

.news-title {
  margin-top: 20px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
}

.news-text {
  margin-bottom: 40px;

  line-height: 1.5;
  font-feature-settings: "liga" off;
}

.news-link {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.news-link:hover,
.news-link:focus {
  color: var(--color-accent);
}

.wrap-news-link:hover .news-title,
.wrap-news-link:hover .news-link {
  color: var(--color-accent);
}

/* Подвал */
.footer {
  background-color: var(--bg-color-section);
}

.footer-slogan {
  margin-bottom: 62px;

  font-size: 30px;
  line-height: 1.2;
}

.wrap-footer {
  display: flex;
  flex-wrap: wrap;

  padding: 100px 0;
}

.inner-footer {
  flex-basis: calc((100% - 60px) / 4);
}

.inner-footer:first-child {
  flex-basis: calc((100% - 60px) / 2);
}

.footer-item-nav:not(:last-child) {
  margin-bottom: 18px;
}

.footer-link-nav:hover,
.footer-link-nav:focus {
  color: var(--color-accent);
}

.inner-footer p {
  line-height: 150%;
  margin-bottom: 64px;
}

.inner-footer-socials {
  display: flex;
  justify-content: space-between;

  padding: 43px 0;
  background-color: var(--color-wiht);
}

.footer-socials-items {
  display: flex;
  justify-content: space-between;

  font-feature-settings: "liga" off;
}

.footer-socials-item:not(:last-child) {
  margin-right: 32px;
}

/* СТРАНИЦА О КОМПАНИИ */
/* О компании */
.about {
  padding-top: 100px;
  padding-bottom: 150px;
}
.main-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 1.2;
}

.about-text {
  padding-left: 100px;
  font-size: 20px;
  line-height: 1.4;
  font-feature-settings: "liga" off;
}

.wrap-about {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  margin-bottom: 136px;
}

.main-title,
.about-text {
  flex-basis: calc((100% - 60px) / 2);
}

.about-items {
  display: flex;

  margin-top: 150px;
}

.about-item {
  flex-basis: calc((100%-60px) / 4);
  padding-right: 80px;
}

.about-item:not(:last-child) {
  margin-right: 60px;
}

.about-accent {
  display: block;
  color: var(--color-accent);
  font-size: 75px;
}

.about-accent::after {
  content: "";
  display: block;

  margin-top: 15px;
  margin-bottom: 19px;
  width: 70px;
  height: 1px;
  background-color: var(--color-lightgray);
}

.about-item p {
  margin: 0;
}

/* О нас */
.about-us {
  margin-top: 200px;
  margin-bottom: 221px;
}
.about-us-text {
  display: block;
  width: calc(100% / 4 * 3);
  font-weight: 500;
  font-size: 27px;
  line-height: 1.4;
}

/* Услуги см.на главной странице */
/* История */
.history {
  padding-top: 180px;
  padding-bottom: 200px;
}

.wrap-history {
  display: flex;

  margin-bottom: 162px;
}

.inner-history-text,
.history-items {
  flex-basis: calc(100% / 2 - 60px);
}

.history-heading {
  width: calc(100% / 2);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
}

.history-item {
  display: block;
  min-height: 168px;
}

.history-subtitle {
  margin-bottom: 15px;

  font-weight: 500;
  font-size: 27px;

  color: var(--color-accent);
}

.history-item p {
  line-height: 1.5;
  font-feature-settings: "liga" off;
}

/* Оборудование */
.equipment-item {
  display: flex;
  align-items: center;
  padding-top: 27px;
  padding-bottom: 33px;
}

.equipment-subtitle {
  flex-basis: calc((100% - 60px) / 2);

  font-size: 20px;
  font-feature-settings: "liga" off;
  font-weight: 400;
}

.equipment-number {
  margin-right: 66px;

  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--color-lightgray);
}

.equipment-item p {
  flex-basis: calc(100% / 4 - 60px);
}

.equipment-button {
  margin-left: auto;
}

/* Наши работы */
.ideas {
  padding-top: 200px;
  padding-bottom: 200px;
}

.ideas .section-description {
  margin-bottom: 100px;
}

.ideas-items {
  display: flex;
  justify-content: space-between;
}

.ideas-items h3 {
  margin-top: 20px;
  margin-bottom: 15px;

  font-weight: 500;
  font-size: 20px;
}

.ideas-items p {
  font-size: 11px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--color-lightgray);
}

/* Оставить заявку */
.request {
  padding-bottom: 200px;
}

.wrap-request {
  display: flex;
  justify-content: space-between;
}

.inner-request-text,
.inner-request-form {
  flex-basis: calc((100% - 60px) / 2);
}

.inner-request-text p {
  max-width: calc(100% / 3 * 2);
  font-size: 20px;
  line-height: 1.4;
  font-feature-settings: "liga" off;
}
