/* Общие стили */
:root {
  --mein-font: "TT Norms", sans-serif;
  --color-accent: #e52322;
  --color-lightgray: #b0b6bf;
  --color-mein: #1f2c37;
  --color-wiht: #ffffff;
}

body {
  font-family: var(--mein-font);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--color-mein);
  line-height: 1;
  background: #ffffff;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: var(--color-lightgray);
}

.section-description {
  font-weight: 500;
  font-size: 37px;
  line-height: 1.2;
}

.accent-color {
  color: var(--color-accent);
}

/* Утилиты */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
}

/* Шапка страницы */
.header .container {
  display: flex;
  justify-content: space-between;
}

.header-list {
  display: flex;
  justify-content: space-between;
}

.header-item:not(:last-child) {
  margin-right: 120px;
}

.header-item:nth-child(1) button {
  font-size: 16px;
  text-transform: capitalize;
}

.header-item:nth-child(2) {
  font-size: 15px;
}

.header-item:nth-child(3) button {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
}

.header-item button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.header-item button,
.header a {
  padding: 42px 0 42px 0;
}

.header-list button:hover,
.header-list button:focus {
  color: var(--color-accent);
}

.header-list a:hover,
.header-list a:focus {
  color: var(--color-accent);
}

/* Секция герой */

.hero {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--color-lightgray);
  padding-bottom: 70px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  color: var(--color-wiht);
  font-weight: 500;
  font-size: 45px;
  line-height: 1.2;
}

.hero-title span {
  color: var(--color-accent);
  text-transform: capitalize;
}

.hero-list {
  display: flex;
  color: var(--color-wiht);
}

.hero-item:not(:last-child) {
  margin-right: 50px;
}

.hero-item {
  padding: 10px 0;
  font-size: 14px;
  font-feature-settings: "liga" off;
}

.hero-item:hover,
.hero-item:hover {
  color: var(--color-accent);
}

/* Услуги */
.services {
  padding-top: 200px;
  padding-bottom: 200px;
}

.services .section-description {
  margin-bottom: 100px;
}

.services-text {
  font-size: 19px;
  line-height: 1.3;
}

.services-items {
  display: flex;
  flex-wrap: wrap;
  margin-left: -60px;
  margin-top: -60px;
}

.services-item {
  flex-basis: calc(100% / 4-60px);
  margin-left: 60px;
  margin-top: 60px;
}

/* Наши приемущества */
.advantages {
  padding: 150px 0;
}

.wrap-advantages {
  display: flex;
  flex-wrap: wrap;

  justify-content: flex-start;
  align-items: flex-start;
}

.wrap-advantages-text,
.advantages-items {
  flex-basis: calc(100% / 2);
}

.wrap-advantages-text {
  margin-right: 60px;
}

.advantages-items {
  display: flex;
  flex-wrap: wrap;

  margin-left: -60px;
  margin-top: -60px;
}

.advantages-item {
  flex-basis: calc((100% - 60px) / 4);

  margin-top: 60px;
  margin-left: 60px;
}

.advantages-item:nth-child(4n + 1),
.advantages-item:nth-child(4n + 2) {
  margin-bottom: 11px;
}

.advantages-accent {
  display: block;
  font-size: 75px;
  line-height: 1;
  color: var(--color-accent);
}

.advantages-accent::after {
  content: "";
  display: block;

  margin-top: 17px;
  margin-bottom: 20px;

  width: 70px;
  height: 1px;
  background-color: var(--color-lightgray);
}

/* Наши работы */
.works {
  padding: 200px 0;
}

.works .section-description {
  margin-bottom: 60px;
}

.works-items {
  display: flex;
  flex-wrap: wrap;

  margin-top: -60px;
  margin-left: -60px;
}

.works-item {
  flex-basis: calc(100% / 2-60px);

  margin-top: 60px;
  margin-left: 60px;
}

.works-title {
  margin-top: 20px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1;
}

.works-text {
  margin-top: 15px;

  font-size: 11px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--color-lightgray);
}

.works-link {
  margin-top: 80px;
  line-height: 1;
}

.works-link:hover,
.works-link:focus {
  color: var(--color-accent);
}

.works-element::before {
  content: "";
  display: inline-block;

  width: 100%;
  height: 1px;
  background-color: var(--color-mein);
}

.works-link:hover .works-element::before,
.works-link:focus .works-element::before {
  background-color: var(--color-accent);
}

/* Наши партнёры */
.partners {
  padding-top: 177px;
  padding-bottom: 167px;
}

.wrap-partners {
  display: flex;
  flex-wrap: wrap;

  justify-content: flex-start;
  align-items: flex-start;
}

.wrap-partners-text,
.partners-items {
  flex-basis: calc(100% / 2);
}

.partners-items {
  display: flex;
  flex-wrap: wrap;

  margin-top: -55px;
  margin-left: -55px;
}

.partners-item {
  flex-basis: calc((100% - 55px) / 6);

  margin-top: 55px;
  margin-left: 55px;
}

/* Статьи и новости */
.news .section-description {
  margin-bottom: 98px;
}

.news-item {
  display: flex;
  flex-wrap: wrap;
}

.news-item:not(:last-child) {
  margin-bottom: 60px;
}

.wrap-news,
.wrap-news-text {
  flex-basis: calc(100% / 2 - 30px);
}

.wrap-news {
  display: flex;
  margin-right: 60px;
}

.wrap-news p {
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: var(--color-lightgray);
}

.wrap-news-text time {
  font-size: 14px;
  line-height: 1;

  color: var(--color-lightgray);
}

.news-title {
  margin-top: 20px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
}

.news-text {
  margin-bottom: 40px;

  line-height: 1.5;
  font-feature-settings: "liga" off;
}

.news button {
  border: none;
  background-color: transparent;

  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
